/* Coolors Exported Palette - coolors.co/1681ce-7098b5-2c81aa-16427c-26244f */

$color1: #1681ce; //rgba(22, 129, 206, 100)
$color2: #7098b5; //rgba(112, 152, 181, 100)
$color3: #2c81aa; //rgba(44, 129, 170, 100)
$color4: #16427c; //rgba(22, 66, 124, 100)
$color5: #26244f; //rgba(38, 36, 79, 100)